.design {
  &__content {
    background-size: cover;
    height: 95vh;
    width: 100%;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &--graphic {
      background-image: url('/images/mobile/image-graphic-design.jpg');
      color: $darkCyan;
    }
    &--photography {
      background-image: url('/images/mobile/image-photography.jpg');
      color: $darkBlue;
    }

    h2 {
      font-weight: 900;
      font-family: 'Fraunces', sans-serif;
      font-size: 2.7rem;
      margin-top: 0;
      margin-bottom: 0;
    }
    p {
      margin-bottom: 7rem;
      font-size: 1.4rem;
      padding: 0 2.5rem;
      line-height: 1.6;
    }
  }

  @media screen and (min-width: 768px) {
    &__content {
      height: 60rem;
      background-position: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      max-width: 100%;
      &--graphic {
        background-image: url('/images/desktop/image-graphic-design.jpg');
        color: $darkCyan;
      }
      &--photography {
        background-image: url('/images/desktop/image-photography.jpg');
        color: $darkBlue;
      }

      h2 {
        font-weight: 900;
        font-family: 'Fraunces', sans-serif;
        font-size: 2.3rem;
        margin-top: 0;
        margin-bottom: 0;
      }
      p {
        margin-bottom: 7rem;
        font-size: 1.4rem;
        padding: 0 15rem;
        line-height: 1.6;
      }
    }
  }
}
